.price {
    padding-top: 66px;
    &__wrapper ul {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 366px);
        grid-template-rows: repeat(3, minmax(44px, auto));
        grid-auto-rows: minmax(44px, auto);
        row-gap: 15px;
        justify-content: space-between;
        padding: 0 50px;
        list-style-type: none;
        li {
            position: relative;
        }
    }
    &__item {
        &_title {
            line-height: 0;
        }
        &:before {
            content: '';
            position: absolute;
            top: 3px;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background-color: $main-color;
        }
        &__head {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: 14px;
            line-height: 0px;
            padding-left: 25px;  
        }
        &__value {
            line-height: 0;
        }
        &__description {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
            padding-left: 25px;  
        }
    }
}

.title {
    // line-height: 0;
}