.skills {
    padding-top: 120px;
    &__title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__list {
        margin-top: 60px;
        padding: 0 10px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, minmax(270px, auto));
        column-gap: 13px;
        row-gap: 13px;
        &__item {
            padding: 30PX 30px 25px 30px;
            width: 270px;
            min-height: 270px;
            border: 1px solid #000000;
            img {
                margin-bottom: 20px;
            }
        }
        &__text {
            margin-top: 15px;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
    }
}